/* Reset default margin and padding */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light text */
  font-family:  "Montserrat", system-ui;
}
